body {
  margin: 0;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
    width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #000;
  color: #f5f5f5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    min-height: 84px;
    /*margin-bottom: 30px;*/

}

.cover {
    
    padding: 30px 24px 30px 21px;
    min-height: 198px;
    background-image: url(../images/cover.svg);
    background-repeat:no-repeat;
    background-size: 95% auto;
    background-position:right;
}

.intro {
    padding: 0 20px 37px 20px;
}
    
.reasons {
    padding: 40px 20px;
}

.how-to {
    padding: 40px 20px 60px 20px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #FEE42A;
}

.header__logo-image {
    width: 78.453px;
    height: 15.432px;
}

.header__menu {
    
    font-size: 16px;
    
    
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 12px;
  
}

.header__menu-item {
    text-decoration: underline;
}

.header__menu-item_active {
    text-decoration: none;
}

.header__menu-link {
    color: #f5f5f5;
}

.cover__title {
    color: #FFF;
font-family: EB Garamond;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 72px */

margin-top: -23px;

}

.accent-span {
    display: block;

}

.text-center {
    text-align: center;

}

.text-right {
    text-align: right;

}

.intro__heading {
  display: flex;
  justify-content: space-between;
  
}

.intro__title {
    width: 203px;
    color: #CCC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.intro__date {
    color: #CCC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */

    white-space: nowrap;
}

.intro__main-text {

    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */

}

.intro__main-text p {
    margin-top: 24px;
}

.content-section__subtitle {
    
    font-family: EB Garamond;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 32.2px */

    margin-bottom: 32px;
}

.content-section__introduction {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */

    margin-bottom: 32px;
}

.content-section__list {

    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.content-section__list-accent {
    font-weight: bold;
}

.cards-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

}

.card {
    padding: 20px;
    border-radius: 30px;
   /* margin-bottom: 32px;*/
}


.card_theme_dark {
    /*темная карточка*/
    background-color: #343434;;
}

.card_theme_bright {
    /*светлая карточка*/
    background-color: #FEE42A;
    color: #131313;
}


.card__author-photo {
    /* фото */
    width: 100px;
    height: 100px;
}

.card__author-name {
    /* имя автора */
    margin-top: 8px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 21.6px */
}


.card__title {
    /* заголовок перед текстом карточки */
    font-family: EB Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
}

.card__text {
    /* контейнер для текста карточки */
    margin-top: 8px;
}


.footer__links {
    display: flex;
    list-style: none;
    column-gap: 16px;
    

}

.footer__link {
    text-decoration: none;
    color: #fff;

}